/************
* Html tags *
*************/
body {
	color: black;
	background-color: rgb(207, 207, 207);
}

input[type="number"] {
	border-color: grey;
}

input[type=number]:disabled{
	background-color: white;
	background-image: radial-gradient(circle, black 10%, transparent 10%), radial-gradient(circle, black 10%, transparent 10%);
}

select {
	background-image: url("../img/arrow_white.svg");
	border-color: grey;
	color:black;
	background-color: white;
}

select:disabled {
	background-color: white;
	color: grey;
	background-size:0;
}

input[type="radio"]{
	background-color: #e7e6e7;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
	background-color: teal;
}

input[type="checkbox"] {
	border: 1px solid grey;
}

input[type="checkbox"]:checked{
	background-color: teal;
	border-color: teal;
}

/**********
* Classes *
***********/

.active {
	background-color: #1abc9c ;
}

.card {
	background-color: white;
}

.titre-card {
	color: teal;
}

.titre-card-button {
	color: teal;
}

.titre-card-resultat {
	color: teal;
}

.log-date{
	color: teal;
}

.log-title{
	color: teal;
}


/*****
* ID *
******/

#sep {
	color: teal;
}

#clr-btn, #dl-btn {
	color: teal;
}

#refresh-btn, #theme{
	color:teal;
}
