/************
* Html tags *
*************/


body {
	color: #c3c3c3;
	background-color: rgb(28, 30, 31);
}

input[type="button"] {
	background-color: #2d2f2f;
}

input[type="number"] {
	border-color: #3c3c3c;
	background-color: #2d2f2f;
	color: #c3c3c3;
}

input[type=number]:disabled {
	background-color: #2b2b2b;
	background-image: radial-gradient(circle, #c3c3c3 10%, transparent 10%), radial-gradient(circle, #c3c3c3 10%, transparent 10%);
}

select {
	background-image: url("../img/arrow.svg");
	border-color: #3c3c3c;
	color: #c3c3c3;
	background-color: #2d2f2f;
}

select:disabled {
	background-color: #2b2b2b;
	color: grey;
}

input[type="radio"] {
	background-color: #383838;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
	background-color: #3d74c5;
}

input[type="checkbox"] {
	background-color: #383838;
}

input[type="checkbox"]:checked{
	background-color: #3d74c5;
	border-color: #3d74c5;
}

/**********
* Classes *
***********/

.active {
	background-color: #2d2d2d;
}

.readme {
	background-color: #383838;
}

.card {
	background-color: rgb(35, 38, 39);
}

.titre-card {
	color: #3d74c5;
}

.titre-card-button {
	color: #3d74c5;
}

.titre-card-resultat {
	color: #3d74c5;
}

.log-date {
	color: #3d74c5;
}

.log-title {
	color: #3d74c5;
}



/*****
* ID *
******/

#sep {
	color: #3d74c5;
}

#clr-btn, #dl-btn, #refresh-btn, #theme, #calc-btn {
	color: #3d74c5;
	background-color: #2d2f2f;
}
