/***************************
* Import and media queries *
****************************/
@import url('https://fonts.googleapis.com/css?family=Concert+One|Josefin+Sans|Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

@media only screen and (max-width: 1100px) {
	form {
		margin: 0 10%;
	}

	.flex-column {
		width: 95%;
	}

	.card {
		width: 95%;
		flex-wrap: wrap;
	}
	.titre-card-button {
		flex-basis: 100%;
		margin: 10px;
		margin-top: 0;
	}

	.log-block {
		flex-basis: 100%;
		margin: 0 25%;
	}

	.log-btn-group button {
		margin: auto 0.5em;
	}

	input[type="number"] {
		max-width: 20%;
		width: 100px;
		border: 1px solid;
		-moz-appearance: none;
	}

	select {
		font-size:80%;
		width: 100px;
	}

	#submit {
		align-items: center;
		align-content: center;
		display:flex;
		flex-direction: column;
		width:90%;
	}

	#clr-btn {
		margin-right: 1%;
	}

	#esquive_stats, #endu_stats {
		padding-left: 10%;
    display: inline-block;
	}

	.titre-card {
		flex-basis: 100%;
	}
}

@media only screen and (min-width: 1101px) {

	form {
		flex: 3;
	}

	.flex-column {
		min-width: 50%;
		max-width: 80%;
	}

	.card {
		min-width: 40%;
		max-width: 80%;
	}

	.titre-card {
		flex: 1;
	}

	.titre-card-button {
		flex: 1;
		flex-direction: row;
		margin-bottom: -5%;
		margin-left: -10%;
	}

	.titre-card-resultat {
		flex: 3;
	}

	.log-block {
		width: 25%;
	}

	.log-btn-group {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
	}

	.log-btn-group button {
		margin: 0.5em auto;
	}

	input[type="number"] {
		max-width: 20%;
		width: 100px;
		-moz-appearance: textfield;
		font-size: 100%;
		border: 1px solid;
	}

	select {
		font-size:100%;
		width:120px;
	}

	select:disabled {
		background-size: 0;
		color: grey;
		font-size: 100%;
	}

	#dl-btn {
		margin-left: 10%;
	}

	#endu_stats, #esquive_stats {
		width:150px;
		display:inline-block;
	}

	#endu_stats {
		width: 35%;
	}

#submit {
	width:50%;
}

}

/************
* Html tags *
*************/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox,
.input-zone {
	-webkit-appearance: none !important;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Josefin Sans', sans-serif;
}

input, textarea, select, button {
	border-radius: 5px;
}

header {
	display: block;
	text-align: center;
	width: 100%;
	background: grey;
	color: black;
	font-size: 15px;
}

input {
	margin-right: 0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

input#des_bonus_def {
	vertical-align: text-bottom;
}

input[type="button"] {
	font-size: 20px;
	margin-right: 10px;
	margin: auto;
	border: 1px solid;
	border-radius: 5px;
	font-family:'M PLUS Rounded 1c', sans-serif;
}

input[type="button"]:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-o-inner-spin-button {
	-o-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]:disabled {
	border: 0px;
	background-size: 7px 5px;
	background-position: 0 0, 4px 7px;
}

input[type="radio"] {
	/* remove standard background appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* create custom radiobutton appearance */
	display: inline-block;
	width: 15px;
	height: 15px;
	/* background-color only for content */
	background-clip: content-box;
	border-radius: 50%;
	text-align: baseline;
}


input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
	width: 15px !important;
	height: 15px !important;
	vertical-align: bottom;
}

label {
	margin-top:2%;
}

label[for="bouclier"], label[for="endurance"], label[for="agi"] {
	width: 35%;
	float: left;
}

label[for="pv_max"], label[for="pv_reste"] {
	width: 35%;
	float: left;
}

label[for="res_deg"], label[for="res_pv"] {
	display: block;
	width: 150px;
	float: left;
	margin: auto;
	text-align: center;
}

label[for="des_attaque"], label[for=des_defense] {
	width: 100%;
}

label[for="capacite"] {
	width: calc(35% - 20px);
	display:inline-block;
}

label[for="bonus"] {
	width: 30%;
	vertical-align: text-bottom;
	display: inline-block;
}

label[for="cac"]{
	margin-right:10%;
}

label[for="des_def"], label[for="des_atq"] {
	display:block;
	width:35%;
	float:left;
}

p {
	margin: auto;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-size: 15px;
	background-position-x: 100%;
	background-position-y: center;
	background-repeat: no-repeat;
	text-indent:2px;
	padding:1px;
	border-radius: 5px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border: 1px solid;
}


/**********
* Classes *
***********/

.icon-bar {
	width: 100%;
	background-color: grey;
	overflow: auto;
	float: left;
}

.icon-bar a {
	float: right;
	width: 50%;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

.icon-bar a:hover {
	background-color: #000;
}

.flex-column {
	margin: auto;
}

.flex-break {
	flex-basis: 100%;
}

.card {
	box-shadow: 0.2em 0.2em 0.6em black;
	margin: 3% auto;
	padding: 2%;
	display: flex;
	justify-content: center;
}

.titre-card {
	font-weight: bold;
	margin: 10px;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'M PLUS Rounded 1c', sans-serif;
}

.titre-card-button {
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre-card-resultat {
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.input-zone {
	margin: 1em 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.log-element {
	display: flex;
	flex-wrap: wrap;
}

.log-date {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 1em;
	font-weight: bold;
	text-decoration: underline;
}

.log-btn-group {
	display: grid;
	align-items: center;
	margin: auto;
}

.result-btn-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*****
* ID *
******/

#des_def {
	margin-right:10px;
  max-width : 50%;
}

#des_atq {
  max-width: 50%;
} 

#critique {
  margin-right: 5%;
}
#res_pv, #res_deg {
	font-family: 'Pangolin', cursive;
	display: inline-block;
	margin: auto;
}

#sep {
	font-family: 'Josefin Sans', cursive;
	display: inline-block;
	margin: auto;
	font-size: 150%;
	vertical-align: sub;
	line-height: 0%;
}

#log {
	width: 90%;
}

#log_box {
	max-height: 25em;
	overflow: auto;
	flex: 10;
}

#clr-btn, #dl-btn, #refresh-btn, #theme, #calc-btn {
	border: 1px solid;
	border-radius: 5px;
}

#theme{
	margin-right:-5%;
}

#refresh-btn {
	margin-right: 12%;
}

#calc-btn.activeCalc {
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}

#clr-btn:active, #dl-btn:active, #refresh-btn:active, #theme:active, #calc-btn:active {
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}

#capacite_type, #arme {
	vertical-align: baseline;
}

#endu_stats, #esquive_stats {
	display:inline-block;
}

#pv_reste:invalid{
	box-shadow: none;
  }