/************
* Html tags *
*************/


body {
	color: #c3c3c3;
	background-color: rgb(28, 30, 31);
}

input[type="button"] {
	background-color: #2d2f2f;
}

input[type="number"] {
	border-color: #3c3c3c;
	background-color: #2d2f2f;
	color: #c3c3c3;
}

input[type=number]:disabled {
	background-color: #2b2b2b;
	background-image: radial-gradient(circle, #c3c3c3 10%, transparent 10%), radial-gradient(circle, #c3c3c3 10%, transparent 10%);
}

select {
	background-image: url("../img/arrow.svg");
	border-color: #3c3c3c;
	color: #c3c3c3;
	background-color: #2d2f2f;
}

select:disabled {
	background-color: #2b2b2b;
	color: grey;
}

input[type="radio"] {
	background-color: #383838;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
	background-color: #3d74c5;
}

input[type="checkbox"] {
	background-color: #383838;
}

input[type="checkbox"]:checked{
	background-color: #3d74c5;
	border-color: #3d74c5;
}

a {
	color:white;
}

/**********
* Classes *
***********/

.icon-bar {
	background-color: #2d2d2d;
}

.active {
	background-color: #2d2d2d;
}

.readme {
	background-color: #383838;
}

.card {
	background-color: rgb(35, 38, 39);
}

.titre-card {
	color: #3d74c5;
}

.titre-card-button {
	color: #3d74c5;
}

.titre-card-resultat {
	color: #3d74c5;
}

.log-date {
	color: #3d74c5;
}

.log-title {
	color: #3d74c5;
}



/*****
* ID *
******/

#sep {
	color: #3d74c5;
}

#theme, .burger {
	color: white;
	background-color:#63636a;
	border:0;
	border-radius: 0;
}

#sidenav {
	background-color: black;
}

#burger {
	background-image: linear-gradient(180deg, transparent 33.33%, white 33.33%, white 50%, transparent 50%, transparent 83.33%, white 83.33%, white 100%);
	background-size: 18.00px 18.00px;

}
