/***************************
* Import and media queries *
****************************/
@import url('https://fonts.googleapis.com/css?family=Concert+One|Josefin+Sans|Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

@media only screen and (max-width: 1100px) {
	form {
		margin: 0 10%;
	}

	.flex-column {
		width: 95%;
	}

	.card {
		width: 95%;
		flex-wrap: wrap;
	}
	.titre-card-button {
		flex-basis: 100%;
		margin: 10px;
		margin-top: 0;
	}

	.log-block {
		flex-basis: 100%;
		margin: 0 25%;
	}

	.log-btn-group button {
		margin: auto 0.5em;
	}

	input[type="number"] {
		max-width: 20%;
		width: 100px;
		border: 1px solid;
		-moz-appearance: none;
	}

	select {
		font-size:80%;
	}

	#submit {
		align-items: center;
		align-content: center;
		display:flex;
		flex-direction: column;
		width:90%;
	}

	#clr-btn {
		margin-right: 1%;
	}

	#esquive_stats {
		padding-left: 10%;
	}
}

@media only screen and (min-width: 1101px) {

	form {
		flex: 3;
	}

	.flex-column {
		min-width: 50%;
		max-width: 80%;
	}

	.card {
		min-width: 40%;
		max-width: 80%;
	}

	.titre-card {
		flex: 1;
	}

	.titre-card-button {
		flex: 1;
		flex-direction: row;
		margin-bottom: -5%;
		margin-left: -10%;
	}

	.titre-card-resultat {
		flex: 3;
	}

	.log-block {
		width: 25%;
	}

	.log-btn-group {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
	}

	.log-btn-group button {
		margin: 0.5em auto;
	}

	input[type="number"] {
		max-width: 20%;
		width: 100px;
		-moz-appearance: textfield;
		font-size: 100%;
		border: 1px solid;
	}

	select {
		font-size:100%;
	}

	select:disabled {
		background-size: 0px;
		color: grey;
		font-size: 100%;
	}

	#dl-btn {
		margin-left: 10%;
	}

	#endu_stats, #esquive_stats {
		width:150px;
		display:inline-block;
	}

	#endu_stats {
		width: 35%;
	}

#submit {
	width:50%;
}

}

/************
* Html tags *
*************/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox,
.input-zone {
	-webkit-appearance: none !important;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Josefin Sans', sans-serif;
}

button {
		width:100%;
		height:50px;
		top:0;
		}

		div#readme{
				border:0;
		}
		p{
				font-family: 'Josefin Sans', sans-serif;
				font-size: large;
		}
		.element.style{
				background-color:transparent;
		}
		.index {
				background-color:#383838;
		}
		.active {
				background-color:#2d2d2d
		}
		li {
				font-family: 'Josefin Sans', sans-serif;
				font-size: large;
		}
		h2{
				font-family: 'M PLUS Rounded 1c', sans-serif;
		}
		h1{
				font-family: 'M PLUS Rounded 1c', sans-serif;
		}
		h3{
				font-family: 'M PLUS Rounded 1c', sans-serif;
		}
		h4{
				font-family: 'M PLUS Rounded 1c', sans-serif;
		}

input, textarea, select, button {
	border-radius: 5px;
}

header {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 15px;
	top:0;
}

input {
	margin-right: 0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

input#des_bonus_def {
	vertical-align: text-bottom;
}

input[type="button"] {
	font-size: 20px;
	margin-right: 10px;
	margin: auto;
	border: 1px solid;
	border-radius: 5px;
	font-family:'M PLUS Rounded 1c', sans-serif;
}

input[type="button"]:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-o-inner-spin-button {
	-o-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]:disabled {
	border: 0px;
	background-size: 7px 5px;
	background-position: 0 0, 4px 7px;
}

input[type="radio"] {
	/* remove standard background appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* create custom radiobutton appearance */
	display: inline-block;
	width: 15px;
	height: 15px;
	/* background-color only for content */
	background-clip: content-box;
	border-radius: 50%;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
	width: 15px !important;
	height: 15px !important;
	vertical-align: bottom;
}

label {
	margin-top:3%;
}

label[for="bouclier"], label[for="endurance"], label[for="agi"] {
	width: 35%;
	float: left;
}

label[for="pv_max"], label[for="pv_reste"] {
	width: 35%;
	float: left;
}

label[for="res_deg"], label[for="res_pv"] {
	display: block;
	width: 150px;
	float: left;
	margin: auto;
	text-align: center;
}

label[for="des_attaque"], label[for=des_defense] {
	width: 100%;
}

label[for="capacite"] {
	width: calc(35% - 20px);
	display:inline-block;
}

label[for="bonus"] {
	width: 36%;
	vertical-align: text-bottom;
	display: inline-block;
}

label[for="cac"]{
	margin-right:10%;
}

label[for="des_def"], label[for="des_atq"] {
	display:block;
	width:35%;
	float:left;
}

p {
	margin: auto;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-size: 15px;
	background-position-x: 100%;
	background-position-y: center;
	background-repeat: no-repeat;
	text-indent:5px;
	padding:1px;
	width:100px;
	border-radius: 5px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border: 1px solid;
}

.markdown-body ul, .markdown-body ol {
	padding-left: 1%;
}

.markdown-body {
	padding-right:15%;
	padding-top:15px;
}

/**********
* Classes *
***********/

.icon-bar {
	width: 100%;
	background-color: grey;
	overflow: hidden;
	float: left;
}
.icon-bar a {
	float: right;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

div#sidenav {
	height: 100%;
  width: 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 99999;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
	background-size:cover;
}

#sidenav a{
padding: 8px 8px 8px 32px;
text-decoration: none;
transition: 0.3s;
float:none;
display:flex;
}
.nav-list {
  font-size: 17px;
	list-style: none;
}

.sidebar-h1 {
  font-weight: bold;
}

.sidebar-h2 {
  margin-left: 10px;

}

.sidebar-h3 {
  margin-left: 20px;
  border-left-width: 2px;
}

.sidebar-h4 {
  margin-left: 30px;
  border-left-width: 2px;
	border-left-style:dotted;
}

.sidebar-h5 {
  margin-left: 40px;
	list-style: initial;
  border-left-color:white;
  border-left-width: 2px;

}

.active {
	width:25%;
}

.readme {
	width:50%;
}

.burger {
	position:fixed;
	top:15%;
	font-size: 36px;
	right:0;
	padding-right: 2%;
}

#burger_close {
	position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

#burger_close a:hover {
	background-color:transparent;
}

#link a:hover{
	background-color:teal;
}

.flex-column {
	margin: auto;
}

.flex-break {
	flex-basis: 100%;
}

.card {
	box-shadow: 0.2em 0.2em 0.6em black;
	margin: 3% auto;
	padding: 2%;
	display: flex;
	justify-content: center;
}

.titre-card {
	font-weight: bold;
	margin: 10px;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'M PLUS Rounded 1c', sans-serif;
}

.titre-card-button {
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre-card-resultat {
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.input-zone {
	margin: 1em 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.log-element {
	display: flex;
	flex-wrap: wrap;
}

.log-date {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 1em;
	font-weight: bold;
	text-decoration: underline;
}

.log-btn-group {
	display: grid;
	align-items: center;
	margin: auto;
}

.result-btn-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*****
* ID *
******/

#des_def {
	margin-right:10px;
}

#res_pv, #res_deg {
	font-family: 'Pangolin', cursive;
	display: inline-block;
	margin: auto;
}

#sep {
	font-family: 'Josefin Sans', cursive;
	display: inline-block;
	margin: auto;
	font-size: 150%;
	vertical-align: sub;
	line-height: 0%;
}

#log {
	width: 90%;
}

#log_box {
	max-height: 25em;
	overflow: auto;
	flex: 10;
}

#clr-btn, #dl-btn, #refresh-btn, #theme, #calc-btn {
	border: 1px solid;
	border-radius: 5px;
}


#refresh-btn {
	margin-right: 12%;
}

#calc-btn.activeCalc {
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}

#clr-btn:active, #dl-btn:active, #refresh-btn:active, #theme:active, #calc-btn:active {
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}

#capacite_type, #arme {
	vertical-align: baseline;
}

#endu_stats, #esquive_stats {
	display:inline-block;
}

.math{
  font-size:100%;
}
